{{>header}}

    <div class="hero hero-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto text-center">
                    <div class="intro-wrap">
                        <h1 class="mb-0">Panel de Administración</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gestion">
        <a href="userManagement.html" class="btn-admin-custom">
            <span class="material-symbols-outlined">Gestionar Usuarios</span>
            
        </a>

        <a href="journeyManagement" class="btn-admin-custom">
            <span class="material-symbols-outlined">Gestionar Viajes</span>
            
        </a>
    </div>

{{>footer}}