{{>header}}

<div class="hero hero-inner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mx-auto text-center">
        <div class="intro-wrap">
          <h1 class="mb-0">Nuestros Viajes</h1>
          <p class="text-white">A continuación te presentamos el catálogo de nuestros viajes planificados.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="untree_co-section">
  <div class="container">

    <div class="row">

      {{#viajes}}
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-5">
        <div class="media-1">

          <a href="/viajes/{{id}}" class="d-block mb-3">

            {{#tieneImagen}}
            <img src="/viajes/{{id}}/imagen" alt="Imagen de {{nombre}}" class="img-fluid foto-tarjeta">
            {{/tieneImagen}}

            {{^tieneImagen}}
            <img src="/images/hero-slider-1.jpg" alt="Imagen por defecto" class="img-fluid foto-tarjeta">
            {{/tieneImagen}}

          </a>

          <span class="d-flex align-items-center loc mb-2">
            <span class="icon-room mr-3"></span>
            <span>{{pais}}</span>
          </span>

          <div class="d-flex align-items-center">
            <div>
              <h3><a href="/viajes/{{id}}">{{nombre}}</a></h3>
              <div class="price ml-auto">
                <span>{{precio}}€</span>
              </div>
            </div>
          </div>

        </div>
      </div>
      {{/viajes}}
    </div>
  </div>
</div>

{{>footer}}