
{{>header}}

    <div class="hero hero-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto text-center">
                    <div class="intro-wrap">
                        <h1 class="mb-0">Gestionar Usuarios</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>
    <div class="col-11-5 mx-auto mb-5">
        <br>
        <div class="row align-items-center gap-3 ">
            <div class="search-box">
                <i class="bi bi-search"></i>
                <input type="text" id="buscadorUsuario" placeholder="Buscar usuario por correo...">
            </div>
            
        </div>

        <table class="tabla-admin">
            <thead>
                <tr>
                    <th>Correo electrónico</th>
                    <th>Importe gastado</th>
                    <th>Fecha último acceso</th>
                    <th class="col-1">Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div>
                            <p>usuarioEjemplo@gmail.com</p>
                        </div>
                    </td>

                    <td>
                        <div>
                            <p>10000€</p>
                        </div>
                    </td>

                    <td>
                        <div>
                            <p>10/02/2026</p>
                        </div>
                    </td>

                    <td>
                        <div class="userImage">
                            <img src="images/profile_image.png" alt="Image" class="rounded-circle img-thumbnail mb-3">
                        </div>
                    </td>

                    <td>
                        <div class="botones-admin-user text-center">
                            <button class="btn btn-rm">Eliminar</button>
                            <button class="btn btn-primary rImg">Reestablecer imagen</button>
                            <button class="btn btn-primary adv">Aviso</button>
                            <button class="btn btn-primary">Reseñas</button>
                            <button class="btn btn-primary">Viajes</button>
                            <a href="graphUser.html" class="btn btn-adv">Gráficos</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <p>carla.llorente@gmail.com</p>
                        </div>
                    </td>

                    <td>
                        <div>
                            <p>1250€</p>
                        </div>
                    </td>

                    <td>
                        <div>
                            <p>15/02/2026</p>
                        </div>
                    </td>

                    <td>
                        <div class="userImage">
                            <img src="images/person_4.jpg" alt="Image" class="rounded-circle img-thumbnail mb-3">
                        </div>
                    </td>

                    <td>
                        <div class="botones-admin-user text-center">
                            <button class="btn btn-rm">Eliminar</button>
                            <button class="btn btn-primary rImg">Reestablecer imagen</button>
                            <button class="btn btn-primary adv">Aviso</button>
                            <button class="btn btn-primary">Reseñas</button>
                            <button class="btn btn-primary">Viajes</button>
                            <a href="graphUser.html" class="btn btn-adv">Gráficos</a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <p>lucas.torres@hotmail.com</p>
                        </div>
                    </td>

                    <td>
                        <div>
                            <p>3420€</p>
                        </div>
                    </td>

                    <td>
                        <div>
                            <p>02/02/2026</p>
                        </div>
                    </td>

                    <td>
                        <div class="userImage">
                            <img src="images/person_3.jpg" alt="Image" class="rounded-circle img-thumbnail mb-3">
                        </div>
                    </td>

                    <td>
                        <div class="botones-admin-user text-center">
                            <button class="btn btn-rm">Eliminar</button>
                            <button class="btn btn-primary rImg">Reestablecer imagen</button>
                            <button class="btn btn-primary adv">Aviso</button>
                            <button class="btn btn-primary">Reseñas</button>
                            <button class="btn btn-primary">Viajes</button>
                            <a href="graphUser.html" class="btn btn-adv">Gráficos</a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <p>lucia.gomez.dev@yahoo.com</p>
                        </div>
                    </td>

                    <td>
                        <div>
                            <p>850€</p>
                        </div>
                    </td>

                    <td>
                        <div>
                            <p>20/01/2026</p>
                        </div>
                    </td>

                    <td>
                        <div class="userImage">
                            <img src="images/person_2.jpg" alt="Image" class="rounded-circle img-thumbnail mb-3">
                        </div>
                    </td>

                    <td>
                        <div class="botones-admin-user text-center">
                            <button class="btn btn-rm">Eliminar</button>
                            <button class="btn btn-primary rImg">Reestablecer imagen</button>
                            <button class="btn btn-primary adv">Aviso</button>
                            <button class="btn btn-primary">Reseñas</button>
                            <button class="btn btn-primary">Viajes</button>
                            <a href="graphUser.html" class="btn btn-adv">Gráficos</a>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

        <script>
        document.addEventListener("click", function (e) {
            if (e.target.classList.contains("btn-rm")) {

                const confirmDelete = confirm("¿Estás seguro de que quieres eliminar esta fila?");
                if (!confirmDelete) return;
                const motivo = prompt("Indique el motivo de la eliminación:");
                if (motivo === null || motivo.trim() === "") {
                    alert("Debe indicar un motivo para eliminar.");
                    return;
                }
                e.target.closest("tr").remove();
            }
        });
    </script>

    <script>
        document.addEventListener("click", function (e) {
            if (e.target.classList.contains("adv")) {
                const motivo = prompt("Escriba el aviso que desee enviar:");
                if (motivo === null || motivo.trim() === "") {
                    alert("Debe indicar un aviso.");
                    return;
                }
            }
        });
    </script>
    <script>
        document.addEventListener("click", function (e) {
            if (e.target.classList.contains("rImg")) {

                const confirmDelete = confirm("¿Estás seguro de que quieres reestablecer esta imagen?");
                if (!confirmDelete) return;

                const motivo = prompt("Indique el motivo");
                if (motivo === null || motivo.trim() === "") {
                    alert("Debe indicar un motivo para reestablecer una imagen.");
                    return;
                }
                const fila = e.target.closest("tr");
                const img = fila.querySelector("img");
                img.src = "images/profile_image.png";
                img.alt = "Image";

                alert("Imagen reestablecida correctamente.");
            }
        });
    </script>

{{>footer}}
